/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 9, 2017, 9:48:44 PM
    Author     : root
*/




/* Nav CSS */
.nav {
    width:100%;
    height:10%;
    position:relative;
    border-bottom: white 1px solid;
    clear:both;
}

.navbuttons .btn7  {
    height:100%; 
    width: 10%;
    background:#2ab7ec;
    color:#ffffff;
    position:relative;
    font-size:  calc(0.75em + 1vmin);
}
.nav .infobox {
    height:100%; 
    width: 25%;
    background:#ffffff;
    color:black;
    border:#e38d13 1px solid;
    position:relative;
    font-size:  calc(0.75em + 1vmin);
    display:inline-block;
    padding:0px;
    margin:0px;
}

.navcash .btn7  {
    height:100%; 
    width: 14%;
    background:#c1e2b3;
    color:#ffffff;
    position:relative;
    font-size:  calc(0.75em + 1vmin);
}


.nav input{
    height:100%;
    font-size:  calc(1em + 1vmin);
}


.navbuttons {
    width:70%;
}

.navcash {
    width:30%;
}

barcodeholder input{
    padding:0px;
    margin: 0px;
}











/* receipt css */
.reciept {
    padding:15px;
    border: #000000 solid 1px;
    box-sizing:border-box;
    background:#eceeee; /* Old browsers */
    width:33%;
    height:89%;
    border-radius: 10px;
    display:inline-block;
    -moz-box-sizing: border-box;
    float:left;
    }
    

.reciept .top {
    height:80%;
    overflow-y:hidden;
    background:white;
    
}


.reciept .total {
    height:20%;
    font-size: 1.8em;
}

.reciept .one {
    width:75%;
    display:inline-block;
    box-sizing: border-box;
}

.reciept .two {
     display:inline-block;
    box-sizing: border-box;
    width:25%;
}

.reciept .total .one {
    font-weight:bold;
    text-align: right;
    padding-right:5%;
}

.reciept .littlenav {
    font-size: 1.8em;
}

.reciept .priceitemrow {
    display: block;
    clear:both;
    height:20px;
    border: black 1px solid;
}


.top ::-webkit-scrollbar {
    width: 4px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}











/*Quick Buttons */
.quickbuttons {
    width:33%;
    height:89%;
    float:left;
}

.quickbuttons .btn8  {
    height:75px; 
    width: 24%;
    background:#2ab7ec;
    color:#ffffff;
    position:relative;
    font-size:  calc(0.6em + 1vmin);
}


.quickbuttons .biggerfont {
    font-size:  calc(1em + 1vmin);
}






/*Number Pad */
.numberpad {
    width:33%;
    height:89%;
}

.numberpad .row {
    width:100%;
    height:25%;
}

#numberpaddisplay {
    width:100%;
    height: 20%;
    background: white;
    border: 1px black solid;
}

.numberpad p {
    font-size:  calc(1em + 5vmin);
    
    float:right;
}



.numberpad .row {
    margin: auto;
    height:75px;
    
}

.numberpad .btn6  {
    height:100%; 
    width: 24%;
    min-width: 80px;
    background:#2ab7ec;
    color:#ffffff;
    position:relative;
    font-size:  calc(0.7em + 1vmin);
    
}

   








