/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 31, 2017, 11:16:24 PM
    Author     : root
*/
.numberpad {
    width:100%;
    height:80%;
    padding: 5px;
}

.btn6  {
    height:100%; 
    width: 20%;
    min-width: 80px;
    background:#2ab7ec;
    color:#ffffff;
    position:relative;
    margin:auto;
    font-size:  calc(0.75em + 1vmin);
}


#numberpaddisplay {
    width:100%;
    height: 20%;
    background: white;
    border: 1px black solid;
    padding-right:15px;
}

.numberpad p {
    font-size:  calc(1em + 5vmin);
    
    float:right;
}

.row {
    margin: auto;
    padding:15px;
    height:20%;
    
}