html { height: 100%; 
box-sizing:border-box;}
::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }
body { 
    background-image: radial-gradient( cover, rgba(92,100,111,1) 0%,rgba(31,35,40,1) 100%), url('http://i.minus.com/io97fW9I0NqJq.png');
    box-sizing:border-box;
    height: 100%;
    }
.left {
     float:left;
     width:48%;
}

.right {
    float: right;
    width:48%;
    
}

.squarelink {
  border-radius: 6px;
  padding: 15px;
  height: 10%;
  min-height: 100px;
  min-width: 100px;
  width: 25%;
  box-sizing: border-box;
  float: left;
}
    
.login {
  background: #eceeee;
  border: 1px solid #42464b;
  border-radius: 6px;
  height: 90%;
  width: 100%;
  box-sizing: border-box;
}
.login h1 {
  background-image: linear-gradient(top, #f1f3f3, #d4dae0);
  border-bottom: 1px solid #a6abaf;
  border-radius: 6px 6px 0 0;
  box-sizing: border-box;
  color: #727678;
  display: block;
  height: 43px;
  font: 600 14px/1 'Open Sans', sans-serif;
  padding-top: 14px;
  margin: 0;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2), 0 1px 0 #fff;
}

.super {
  border-bottom: 2px solid #a6abaf;
  box-sizing: border-box;
  height:50px;
  width:100%;
  
}

.left p {
    text-align: center;
}

.right img {
    padding:10px;
}


.super img {
    float:right;
    
    
}

.footer {
    height: 10%;
}
